html {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.container-fluid {
    padding: 0;
    margin:  0;
}

.row {
    justify-content: space-around;
}

.col-md-4 {
    padding: 0;
    text-align: center;
    margin: 10px 0;
}



h1, h2, h3, h4 {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 700;

}

h2 {
    text-align: center;
    margin-top: 20px;
}

h2:after {
    display: block;
    width: 130px;
    height: 4px;
    margin-top: 15px;
    background-image: linear-gradient(to right,
                        rgba(218, 117, 155, 0.932),
                        rgba(255, 255, 255, 1));
    content: " ";
    margin: 15px auto;
}

h3 {
    text-align: center;
    margin: 20px 0;
}




header {
    background-image: url(images/Fujisan.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.header-title {
    position: absolute;
    top: 55vh;
    left: 15vw;
    width: 50vw;
}

.chemin {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.chemin img {
    width: 50vw;
    height: 100%;
}

/* COMPETENCES */

.skill-box {
    width: 25%;
    border-radius: 20px;
    background: linear-gradient(to right,
                        rgba(218, 117, 155, 0.932),
                        rgba(255, 255, 255, 1));
    padding: 4px;
}

.inside-box {
    background: white;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.hover-html:hover {
    color: red;
    transform: scale(1.3);
}

.hover-css:hover {
    color: blue;
    transform: scale(1.3);
}

.hover-javascript:hover {
    color: yellow;
    transform: scale(1.3);
}

.hover-bootstrap:hover {
    color: rgb(100, 26, 100);
    transform: scale(1.3);
}

/* PORTFOLIO */

.portfolio-row {
    margin: 30px 0;
}

.portfolio-box img{
    width: 100%;
}

.portfolio-box img:hover{
    transform: scale(1.1);
    opacity: 0.8;
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
}

/* CONTACT */

form {
    text-align: center;
}

label {
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 700;
}

input {
    width: 483px;
}

/* FOOTER */

footer {

    background: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(218, 117, 155, 0.932));
    height: 200px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 200px;
}

footer p {
    align-self: center;
}

.social-media {
    align-self: center;
}

.social-media i {
    margin: 0 5px;
    transition: transform 1s ease-in-out;
}

.social-media i:hover {
    transform: rotate(360deg);
    color: #56b2f0;
}